/* ------- VARIABLES -------- */
@font-face {
  font-family: "PP Rader Regular";
  src: url(../fonts/PPRader-Regular.otf);
}
/* ------- MAIN INFO -------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background: #FAF8F3;
  font-family: "Inter", sans-serif;
  font-weight: 300;
  color: #0E0E0E;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;
  line-height: 1.15;
}

body {
  background: #FAF8F3;
  font-family: "Inter", sans-serif;
  font-weight: 300;
  color: #0E0E0E;
  font-size: 16px;
  line-height: 1.15;
}

/* ------- TITLES, TEXTS -------- */
.font-rader {
  font-family: "PP Rader Regular", sans-serif;
}

.fw-600 {
  font-weight: 600;
}

.fw-500 {
  font-weight: 500;
}

.fw-400 {
  font-weight: 400;
}

.fw-300 {
  font-weight: 300;
}

.fw-200 {
  font-weight: 200;
}

.font-size-reg {
  font-size: 1rem;
}

.font-size-w-100 {
  font-size: 8vw;
}

.font-size-1 {
  font-size: 12vw;
}

.font-size-2 {
  font-size: 8rem;
}

.font-size-3 {
  font-size: 4rem;
}

.font-size-4 {
  font-size: 2.5rem;
}

.font-size-5 {
  font-size: 2rem;
}

.font-size-6 {
  font-size: 1.25rem;
}

.font-size-7 {
  font-size: 0.875rem;
}

.font-size-8 {
  font-size: 0.75rem;
}

.text-black {
  color: #0E0E0E;
}

.text-white {
  color: #FAF8F3 !important;
}

.text-white-darker {
  color: #F0EADB;
}

.text-orange {
  color: #FF5C00;
}

.text-green {
  color: #034A4C;
}

.text-indent {
  text-indent: 4rem;
}

.line-height-0-95 {
  line-height: 0.95;
}

.line-height-1 {
  line-height: 1;
}

.line-height-1-05 {
  line-height: 1.1;
}

.line-height-1-2 {
  line-height: 1.2;
}

.line-height-1-3 {
  line-height: 1.3;
}

.letter-s-1 {
  letter-spacing: 1px;
}

.editor-text h1,
.editor-text h2,
.editor-text h3,
.editor-text h4,
.editor-text h5,
.editor-text h6 {
  font-size: 2rem;
  font-family: "PP Rader Regular", sans-serif;
  line-height: 1.05;
  margin-bottom: 20px;
  margin-top: 20px;
}

/* ------- BACKGROUNDS -------- */
.bg-neat {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.bg-white {
  background-color: #FAF8F3;
}

.bg-black {
  background-color: #0E0E0E;
}

.bg-white-darker {
  background: #F0EADB;
}

.bg-orange {
  background: #FF5C00;
}

.bg-transparent {
  background-color: transparent;
}

.bg-blur {
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  background-color: rgba(240, 234, 219, 0.5019607843);
}

/* -----  BORDERS, SHADOWS AND OTHER  ----- */
.hr-small {
  border: 0px;
  border-top: 2px solid black;
  width: 100px;
}

.border-orange-03 {
  border-color: rgba(255, 92, 0, 0.3) !important;
}

.border-orange {
  border-color: #FF5C00 !important;
}

.border-white-darker {
  border-color: #F0EADB !important;
}

.border-col:last-child {
  border: none !important;
}

.border-bottom-last-0 {
  border-bottom: none !important;
}

/* ------- NAVBAR -------- */
.navbar-brand img {
  width: 60px;
}

.nav-wrapper {
  margin-left: 29px;
  margin-right: 29px;
  transform: translateY(22px);
}

.nav-wrapper-scrolled {
  margin-left: 10px;
  margin-right: 10px;
  transform: translateY(3px);
}

.nav-link {
  font-family: "PP Rader Regular", sans-serif;
  text-transform: uppercase;
  font-size: 0.875rem;
  color: #0E0E0E;
  text-decoration: underline;
  text-decoration-color: transparent;
  text-underline-offset: 3px;
  transition: ease 0.4s;
  font-size: 1.25rem;
  margin-bottom: 10px;
}
.nav-link:hover {
  color: #0E0E0E;
  text-decoration: underline;
  text-decoration-color: unset;
  transition: ease 0.4s;
}

.nav-white .nav-link {
  color: #0E0E0E;
}

/* ------- HEADER -------- */
.main-header-h {
  height: 100vh;
}

.header-sm-h {
  min-height: 85vh;
  display: flex;
  flex-direction: column;
}

.header-xs-h {
  min-height: 60vh;
  display: flex;
  flex-direction: column;
}

.header-sm-h > div,
.header-xs-h > div {
  flex: 1;
}

/* ------- FOOTER -------- */
/* ------- BUTTONS -------- */
.btn {
  letter-spacing: 1px;
}

.btn-orange {
  border: 1px solid #FF5C00;
  color: #FAF8F3;
  background-color: #FF5C00;
  transition: ease 0.4s;
}
.btn-orange path {
  stroke: #FAF8F3;
  transition: ease 0.4s;
}
.btn-orange:hover {
  background-color: #0E0E0E;
  color: #FAF8F3;
  transition: ease 0.4s;
}
.btn-orange:hover path {
  stroke: #FAF8F3;
  transition: ease 0.4s;
}

.btn-orange-outline {
  border: 1px solid #FF5C00;
  color: #FF5C00;
  transition: ease 0.4s;
}
.btn-orange-outline path {
  transition: ease 0.4s;
}
.btn-orange-outline:hover {
  background-color: #FF5C00;
  color: #FAF8F3;
  transition: ease 0.4s;
}
.btn-orange-outline:hover path {
  stroke: #FAF8F3;
  transition: ease 0.4s;
}

.btn-orange-underline {
  border-bottom: 1px solid #FF5C00;
  padding: 0;
  border-radius: 0;
  color: #FF5C00;
}
.btn-orange-underline svg {
  transition: ease 0.4s;
}
.btn-orange-underline path {
  transition: ease 0.4s;
}
.btn-orange-underline:hover {
  border-bottom: 1px solid #0E0E0E;
  color: #0E0E0E;
  transition: ease 0.4s;
}
.btn-orange-underline:hover svg {
  transform: translate(3px, -3px);
  transition: ease 0.4s;
}
.btn-orange-underline:hover path {
  stroke: #0E0E0E;
  transition: ease 0.4s;
}

.btn-white-underline {
  border-bottom: 1px solid #FAF8F3;
  padding: 0;
  border-radius: 0;
  color: #FAF8F3;
}
.btn-white-underline svg {
  transition: ease 0.4s;
}
.btn-white-underline path {
  stroke: #FAF8F3;
  transition: ease 0.4s;
}
.btn-white-underline:hover {
  border-bottom: 1px solid #FAF8F3;
  color: #FAF8F3;
  transition: ease 0.4s;
}
.btn-white-underline:hover svg {
  transform: translate(3px, -3px);
  transition: ease 0.4s;
}

.btn-add {
  background: transparent;
  color: #FAF8F3;
  transition: ease 0.4s;
}
.btn-add path {
  transition: ease 0.4s;
}
.btn-add:hover {
  background: #FAF8F3;
  color: #0E0E0E;
  transition: ease 0.4s;
}
.btn-add:hover path {
  fill: #0E0E0E;
  transition: ease 0.4s;
}

.btn-feature {
  background: transparent;
  color: #FF5C00;
  transition: ease 0.4s;
}
.btn-feature path {
  transition: ease 0.4s;
}
.btn-feature:hover {
  background: #FF5C00;
  color: #FAF8F3;
  transition: ease 0.4s;
}

.button-style-none {
  border: none !important;
  background: transparent !important;
}

button:active {
  outline: none !important;
  border: none !important;
}

button:focus {
  outline: 0 !important;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) !important;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

/* ------- FORMS -------- */
.form-control {
  background: transparent;
  border: none;
  border-bottom: 1px solid rgba(14, 14, 14, 0.5);
  border-radius: 0;
  padding-left: 0;
  padding-right: 0;
  font-size: 0.875rem;
}

.form-control:focus {
  background: transparent;
  border-bottom: 1px solid rgb(14, 14, 14);
}

.form-check-input {
  background: transparent;
  border: 1px solid rgba(14, 14, 14, 0.5);
}

.form-check-input:focus {
  border: 1px solid rgba(14, 14, 14, 0.5);
}

.form-check-input:checked {
  border: 1px solid rgba(14, 14, 14, 0.5);
  background: rgb(14, 14, 14);
}

.form-check-label {
  color: rgba(14, 14, 14, 0.5) !important;
  font-weight: 300;
  font-size: 0.875rem;
}

::-moz-placeholder {
  color: rgba(14, 14, 14, 0.5) !important;
  font-weight: 300;
  font-size: 0.875rem;
}

::placeholder {
  color: rgba(14, 14, 14, 0.5) !important;
  font-weight: 300;
  font-size: 0.875rem;
}

:-ms-input-placeholder {
  color: rgba(14, 14, 14, 0.5) !important;
  font-weight: 300;
  font-size: 0.875rem;
}

::-ms-input-placeholder {
  color: rgba(14, 14, 14, 0.5) !important;
  font-weight: 300;
  font-size: 0.875rem;
}

/* ------- FORMS -------- */
.swiper-button-next {
  content: url(../img/illustrations/arrow-swiper.svg);
  width: 20px;
  margin-top: -40px;
}

.swiper-button-prev {
  content: url(../img/illustrations/arrow-swiper.svg);
  transform: rotate(180deg);
  width: 20px;
  margin-top: -40px;
}

.swiper-pagination-current {
  font-weight: 500;
}

/* ------- MODALS -------- */
.modal-backdrop.show {
  backdrop-filter: blur(10px) !important;
  -webkit-backdrop-filter: blur(10px) !important;
  background-color: rgba(240, 234, 219, 0.5019607843) !important;
}

.modal-dialog {
  align-items: end !important;
  margin: 0rem 0rem 0rem auto !important;
  padding: 28px;
}

/* ------- POSITIONING -------- */
.container-fluid-p-0 {
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
}

header,
footer,
section {
  overflow-x: hidden;
}

.ratio-66-7 {
  --bs-aspect-ratio: 66.7%;
}

.ratio-115 {
  --bs-aspect-ratio: 115%;
}

.ratio-125 {
  --bs-aspect-ratio: 125%;
}

.ratio-130 {
  --bs-aspect-ratio: 130%;
}

.ratio-gallery {
  --bs-aspect-ratio: 115%;
}

.w-18 {
  width: 18%;
}

.w-60 {
  width: 60%;
}

.min-h-100 {
  min-height: 100%;
}

.min-h-250 {
  min-height: 250px;
}

.min-h-600 {
  min-height: 600px;
}

.my-sec {
  margin-top: 60px;
  margin-bottom: 60px;
}

.my-sec-lg {
  margin-top: 60px;
  margin-bottom: 60px;
}

.mt-sec {
  margin-top: 60px;
}

.mb-sec {
  margin-bottom: 60px;
}

.py-sec {
  padding-top: 60px;
  padding-bottom: 60px;
}

.py-sec-lg {
  padding-top: 60px;
  padding-bottom: 60px;
}

.pt-sec {
  padding-top: 60px;
}

.pt-sec-lg {
  padding-top: 60px;
}

.pb-sec {
  padding-bottom: 60px;
}

.mb-0-last:last-child {
  margin-bottom: 0 !important;
}

.mt-h-nav {
  margin-top: 110px;
}

.p-section-bg {
  padding: 0.75rem;
}

.px-section-bg {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.z-1 {
  z-index: 1;
}

.z-2 {
  z-index: 2;
}

.op-03 {
  opacity: 0.3;
}

.op-05 {
  opacity: 0.5;
}

.op-07 {
  opacity: 0.7;
}

/* ------- OTHER -------- */
.breadcrumbs a,
.breadcrumbs span {
  color: #0E0E0E;
  opacity: 0.3;
  font-size: 0.75rem;
  text-transform: uppercase;
}

.accordion-button:not(.collapsed) {
  color: initial;
}

.accordion-button:not(.collapsed)::after {
  background-image: var(--bs-accordion-btn-active-icon) !important;
}

/* ------- ACTIONS -------- */
.hover-orange {
  color: #212529;
}
.hover-orange:hover {
  color: #FF5C00;
}

.hover-u {
  text-decoration: underline;
  text-decoration-color: transparent;
  transition: ease 0.4s;
}
.hover-u:hover {
  text-decoration: underline;
  text-decoration-color: unset;
  transition: ease 0.4s;
}

.hover-zoom + img {
  transition: ease 0.4s;
}

.hover-zoom {
  transition: ease 0.4s;
}
.hover-zoom:hover .btn-white-underline svg {
  transform: translate(3px, -3px);
  transition: ease 0.4s;
}
.hover-zoom:hover + img {
  transform: scale(1.05);
  transition: ease 0.4s;
}

.pointer {
  cursor: pointer;
}

a,
a:hover {
  text-decoration: none;
}

/* ------- QUERIES -------- */
@media (max-width: 991px) {
  .font-size-2 {
    font-size: 2.7rem;
  }
  .font-size-3 {
    font-size: 2.5rem;
  }
  .font-size-4 {
    font-size: 2rem;
  }
  .border-col {
    border: none !important;
  }
  .rounded-0-mob {
    border-radius: 0 !important;
  }
}
@media (min-width: 768px) {
  .w-md-50 {
    width: 50%;
  }
}
@media (min-width: 992px) {
  .container {
    width: 78%;
  }
  .container-fluid {
    padding-right: 34px;
    padding-left: 34px;
  }
  .container-fluid-p-0 {
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    padding-left: calc(var(--bs-gutter-x) * 0.5);
  }
  .position-lg-absolute {
    position: absolute;
  }
  .ratio-gallery {
    --bs-aspect-ratio: 85%;
  }
  .w-lg-25 {
    width: 25% !important;
  }
  .w-lg-35 {
    width: 35%;
  }
  .w-lg-50 {
    width: 50% !important;
  }
  .w-lg-65 {
    width: 65% !important;
  }
  .w-lg-75 {
    width: 75% !important;
  }
  .w-lg-22 {
    width: 22%;
  }
  .my-sec {
    margin-top: 90px;
    margin-bottom: 90px;
  }
  .my-sec-lg {
    margin-top: 160px;
    margin-bottom: 160px;
  }
  .mt-sec {
    margin-top: 90px;
  }
  .mb-sec {
    margin-bottom: 90px;
  }
  .mt-lg-sec {
    margin-top: 90px;
  }
  .mb-lg-sec {
    margin-bottom: 90px;
  }
  .py-sec {
    padding-top: 90px;
    padding-bottom: 90px;
  }
  .py-sec-lg {
    padding-top: 160px;
    padding-bottom: 160px;
  }
  .py-sec-lg-lg {
    padding-top: 160px;
    padding-bottom: 160px;
  }
  .p-lg-sec {
    padding: 90px !important;
  }
  .py-lg-sec {
    padding-top: 90px !important;
    padding-bottom: 90px !important;
  }
  .pt-sec {
    padding-top: 90px;
  }
  .pt-sec-lg {
    padding-top: 160px;
  }
  .pt-lg-sec {
    padding-top: 90px !important;
  }
  .pb-sec {
    padding-bottom: 90px;
  }
  .p-lg-section-bg {
    padding: 0.75rem;
  }
  .px-lg-section-bg {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }
  .rounded-0-col-wrapper:first-child .rounded-0-col {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
  }
  .rounded-0-col-wrapper:last-child .rounded-0-col {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
  }
  .mt-n {
    margin-top: -50px;
  }
  .team-member-positioning {
    width: 160%;
    transform: translateX(12.6%);
  }
  .three-picture-positioning {
    width: 160%;
    transform: translateX(12.6%);
  }
  .navbar-nav-1 .nav-item {
    margin-left: 34px;
    margin-right: 34px;
  }
  .navbar-nav-2 .nav-item {
    margin-left: 12px;
    margin-right: 12px;
  }
  .nav-link {
    font-size: 0.875rem;
    margin-bottom: 0px;
  }
  .nav-wrapper-lg {
    margin-left: 30px;
    margin-right: 30px;
    transform: translateY(30px);
  }
  .nav-wrapper-lg-scrolled {
    margin-left: 10px;
    margin-right: 10px;
    transform: translateY(10px);
  }
  .bg-lg-blur {
    -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
    background-color: rgba(240, 234, 219, 0.5019607843);
  }
}
@media (min-width: 1600px) {
  .container {
    width: 70%;
  }
}/*# sourceMappingURL=style.css.map */